body {
  background-color: #FFFFFF;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0; }

a {
  color: rgba(0, 0, 0, 0.7); }
  a:focus, a:hover {
    color: rgba(0, 0, 0, 0.6); }

.feature {
  align-items: center;
  background-color: #FCE7B5;
  display: flex;
  height: 100vh;
  justify-content: center;
  text-align: center;
  width: 100%; }

.feature img {
  max-width: 100%; }

.block {
  display: flex;
  justify-content: center;
  padding: 2rem; }

.button {
  background-color: #333333;
  border-radius: 0.8rem;
  color: #FFFFFF;
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
  padding: 1rem;
  text-decoration: none;
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
  vertical-align: middle; }

.button i {
  font-size: 16px;
  margin-right: 0.5rem;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg); }

.button:hover,
.button:active {
  background-color: #111111;
  color: #FFFFFF; }

.content {
  font-size: 18px;
  line-height: 2rem;
  max-width: 100%;
  width: 800px; }
